div(class='navbar')
	a(class='home-button' href='/')
		object(style='float:left;margin-right:10px;margin-left:-10px;' width=50 height=50 data=configs.botImage) type='image/png')
		. 
			Home
	if !user
		form(class='navbar-button' style='padding:0px;' action="/login" method="post")
			input(type='hidden' name='_csrf' value=csrf)
			button(class='navbar-button' style='cursor: pointer;border:none;color:inherit;font: inherit;' name='Login' value='Login') Login
	else 
		form(class='navbar-button' style='padding:0px;' action="/logout" method="post")
			input(type='hidden' name='_csrf' value=csrf)
			button(class='navbar-button' style='cursor: pointer;border:none;color:inherit;font: inherit;' name='Logout' value='Logout') Logout
		a(class='navbar-button' href='/dashboard') #{user.username}##{user.discriminator}
	a(class='navbar-button' href='/faq') FAQ
	a(class='navbar-button' href='/github') Github
	a(class='navbar-button' href='/stats') Stats
	a(class='navbar-button' href='/vote') Vote
	a(class='navbar-button' href='/support') Support
	a(class='navbar-button' href='/invite') Invite
