div(class='navbar')
	a(class='home-button' href='/')
		object(style='float:left;margin-right:10px;margin-left:-10px;' width=50 height=50 data=configs.botImage) type='image/png')
		. 
			TomBot
	if !user
		form(class='navbar-button' style='padding:0px;margin:0px;height:50px;' action="/login" method="post")
			input(type='hidden' name='_csrf' value=csrf)
			button(class='navbar-button' style='cursor: pointer;border:none;color:inherit;font: inherit;' name='Login' value='Login')
				i(class='fas fa-sign-in-alt')
				.
					Login
	else 
		form(class='navbar-button' style='padding:0px;margin:0px;height:50px;' action="/logout" method="post")
			input(type='hidden' name='_csrf' value=csrf)
			button(class='navbar-button' style='cursor: pointer;border:none;color:inherit;font: inherit;' name='Logout' value='Logout')
				i(class='fas fa-sign-out-alt')
				.
					Logout
		a(class='navbar-button' href='/dashboard')
			i(class='fas fa-columns')
			.
				#{user.username}##{user.discriminator}
	div(class='navbar-space')
	a(class='navbar-button' href='/vote')
		i(class='fas fa-chevron-circle-up')
		.
			Vote
	a(class='navbar-button' href='/support')
		i(class='fas fa-hands-helping')
		.
			Support
	a(class='navbar-button' href='/invite')
		i(class='fas fa-robot')
		.
			Invite
	div(class='navbar-space')
	a(class='navbar-button' href='/commands')
		i(class='fas fa-terminal')
		.
			Commands
	a(class='navbar-button' href='/faq')
		i(class='fas fa-question-circle')
		.
			FAQ
	a(class='navbar-button' href='/stats')
		i(class='fas fa-chart-line')
		.
			Stats

